/* This css file contains new classes structure */

:root {
    --primary-font: 'Roboto', sans-serif;
    --brand: #2196F3;
    --black: #000000;
    --white: #FFFFFF;
    --main-text: #212121;
    --addition-text: #757575;
    --background-dark: #2F303A;
    --background-light: #F5F4FA;  
}

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: var(--main-text);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------- COMPONENTS ------- */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
/* ------- / COMPONENTS ------- */

/* ------- NAVIGATION ------- */
.logo-header-secondcolor {
    color: var(--black);
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--brand);
}

.current-link {
    text-decoration: none;
    color: var(--brand);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--addition-text);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--brand);
}
/* ------- / NAVIGATION ------- */

/* ------- HERO ------- */
.hero {
    background-color: var(--background-dark);
    color: var(--white);
    text-align: center;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--brand);
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
}
/* ------- / HERO ------- */


/* ------- BENEFITS ------- */
.benefits-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-descriptor {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--addition-text);
}
/* ------- / BENEFITS ------- */

/* ------- WHAT DO WE DO ------- */
/* ------- / WHAT DO WE DO ------- */

/* ------- TEAM ------- */
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-role {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--addition-text);
}
/* ------- / TEAM ------- */

/* ------- PORTFOLIO ------- */
.portfolio {
    text-align: center;
}

.filter-button {
    color: var(--main-text);
    background-color: var(--background-light);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.current-filter-button,
.filter-button:hover,
.filter-button:focus {
    color: var(--white);
    background-color: var(--brand);
}

.project-title {
    color: var(--main-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    color: var(--addition-text);
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
}
/* ------- / PORTFOLIO ------- */

/* ------- FOOTER ------- */
.footer {
    background-color: var(--background-dark);
}

.logo-footer-secondcolor {
    color: var(--white);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.street {
    color: var(--white);
}
/* ------- / FOOTER ------- */