:root {
    --brand-color: #2196F3;
    --black: #000000;
    --white: #FFFFFF;
    --main-text: #212121;
    --addition-text: #757575;
    --background-dark: #2F303A;
    --background-light: #F5F4FA;  
}

body {
    background-color: #FFFFFF;
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* скидання стилів для списків */
.list {
    list-style: none;
}

/* лого */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black);
    text-decoration: none;
}

.logo .brand-color {
    color: var(--brand-color);
}

/* навігація сайта */
.site-nav,
.site-auth {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;  
}

.site-nav a {
    text-decoration: none;
    color: var(--main-text);
}

.site-auth a {
    text-decoration: none;
    color: var(--addition-text);
}

.site-nav .curent,
.site-nav .link:hover,
.site-nav .link:focus,
.site-auth .link:hover,
.site-auth .link:focus {
    color: var(--brand-color);
}

/* герой */
.hero {
    background-color: var(--background-dark);
    color: var(--white);
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--brand-color);
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
}


/*  спільні стилі для секцій */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/*  наші переваги */
.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--addition-text);
}

/*  наші проекти */

/*  наша команда */

.persons-block {
    text-align: center;
}

.persons .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.persons .description {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--addition-text);
}


/* Портфоліо */

.filter button {
    color: var(--main-text);
    background-color: var(--background-light);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

/* змінює стиль поточної кнопки, кнопки при наведенні і фокусі */

.filter .curent,
.filter button:hover,
.filter button:focus {
    color: var(--white);
    background-color: var(--brand-color);
}

/* Футер */
